*{    
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body {
    width:100vw;
    height: 100%;
    background: linear-gradient(#14253E,#0F1C2E ); 
}

.hidden {
    animation: myOpacity 1s linear forwards;
    opacity: 0;
    visibility: hidden;
   transition: all .6s;
}

.flx{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.pr-color{
    color:#ECD76D;
    font-weight: 300;
}

header{
    color:white;
    width:100vw;
    height:100vh;
    position: fixed;      
    font-family: 'Titillium Web', sans-serif;
    font-weight: 200;
    padding: 0 40px;
}

header a{
    color: #ECD76D;
    text-decoration: none;
}

nav{
    position:relative;
    top:0;
    left:0;
    width: 100%;
    padding: 0 40px;
}

#hamburger{
    width:60px;
    height:60px;
    position: fixed;
    right: 28px;
    top: 40px;
    z-index: 21;
}

.nav-bg{    
    border-radius: 50%;
    background: linear-gradient(#1e455c, #19273b ); 
    border:1px solid white;
    position: absolute;
    right: 65px;
    top: 30px;    
    opacity:0.9;
    transform: translate(50%,-50%);
}

.nav-content{
    width:100%;
    font-size: 33px;
    position:relative;    
    z-index:20;
    transition: all .3s ease-in;
    text-align: justify;
    opacity: 1;
}

.nav-title{    
    font-size: 34px;
    color: #ECD76D;
    font-family: 'Dosis';
    font-weight: 300;
    letter-spacing: 0.1em;
}

.open{
    /* display:block; */
    width: 5000px;
    height: 5000px;
    transition: all .2s;
    animation: openNav .3s ease-in;
    /* border:0; */
    /* animation-delay: 2s; */
}

.closed{
    /* display:none; */
    width: 0px;
    height: 0px;
    transition: all 1s;
    border:0;
    animation: closeNav .7s ease-in;
}

.popup-text-right, .popup-text-left { padding:0 15px; }

.title {
    font-size: 30px;
    color: #F5F5F5;
    font-family: 'Dosis';
    font-weight: 300;
    letter-spacing: 0.15em;
    padding:0 15px;
}

#preLoadImage {
    position: fixed;
    width:100vw;
    height:100vh;
    background: linear-gradient(#14253E,#0A121F );    
    /* background-color: red; */
    transition: opacity .3s;    
    z-index: 22; 
    top:0;
}

#preLoadImage>div{
    position: relative;
    top:55%;
    color: white;
    font-family: 'Dosis';
    font-weight: 300;
    font-size:23;
    text-align: center;
    transition: opacity .3s;  
}

.opacityZero {
    -webkit-animation: myOpacity 1s linear forwards;
    animation: myOpacity 1s linear forwards;
    z-index: -1!important;     
}

#first-section-container>img{ width:100%;}

.container{
    width: 100%;
    margin:40px auto;
}
/* PRIMA SEXIONE grafica triangolo */
.sect{
    width: 900px;
    margin: 0 auto;
}

.first-section{  height: 340px; }
.second-section { position: relative; bottom: 180px; }
.third-section {  position: relative; bottom: 300px; left: 10px;}

.secText{
    width: 54%;
    position: relative;
    overflow: hidden;    
    height: 150px;
    transition: all .2s;
}

.first-section-text.secText{
    width: 42%; 
}

.first-section-text{ left: 50%; bottom: 410px;}
.second-section-text{ left: 10%; bottom: 150px; }
.third-section-text{ left:  35%;; bottom:120px; }

.first-section-text:hover .popup-text-right,
.third-section-text:hover .popup-text-right,
.second-section-text:hover .popup-text-left {
    opacity:1;    
    animation: myTextPopup .6s;   
    top:30%;    
}

.first-section-text:hover .popup-text-right,
.third-section-text:hover .popup-text-right,
.second-section-text:hover .popup-text-left { overflow:unset; }

.description{
    color:white;
    font-family: 'Quicksand', sans-serif;
    position: relative;
    width: 100%;  
    top: 6%;
    font-size: 18px;
    opacity:0;
    transition: all .3s;
}

.popup-text-right{ text-align: right;}
/* .popup-text-left{padding-left: 15px;} */

#first-section-container{
    height: 513px;
    width: 912px;
    overflow: hidden;
    position: relative;
    transform: scale(0.9);
    transform-origin: 0 0; 
    bottom: 100px;
}

#second-section-container {
    display: flex;
    justify-content: flex-end;
    top:0px;
    width:100%;
    height:auto;
  }

  #third-section-container {
    display: flex;
    justify-content: flex-start;
    top:0px;
    width:100%;
    height:auto;
  }

#first-section-title,
#second-section-title,
#third-section-title {
    position: absolute;            
    border-bottom: 1px solid white;
    top: 0px;        
    width: 100%;
    transition: all .2s ease-in;
}

.alignEnd{ text-align: end; }

.underline{
    animation: opacityTransition .2s;
    position: absolute;   
    width:100%;
    height:2px;    
    background: linear-gradient(to left, #4E0D0D, #B92020);
    transition: all .2s ease-in;
}  

.transitionAnimRight{   
    animation: transitionRight .6s ease-in;             
 } 

.transitionAnimLeft{   
    animation: transitionLeft .6s ease-in;             
    transition: ease-in;
}

.hideTransitionAnimRight{   
    animation: hideTransitionRight .3s ease-in;          
    opacity:0;
}

.hideTransitionAnimLeft{   
    animation: hideTransitionLeft .3s ease-in;             
    opacity:0;
}

.transitionUndelineAnimLeft{   
    animation: transitionLeft .3s ease-in;             
    transition: ease-in;
}

@keyframes openNav {
    0% {opacity:1;width:0;height:0;}    
    60% {opacity:.8;width:1400px;height:1400px;border:10px solid white;}
    100%{opacity:1;width:4000px;height:4000px;border:1px solid white;}
}

@keyframes closeNav {
    0% {opacity:1;border:1px solid white}
    30% {opacity:.6;border:4px solid white}
    100%{opacity:0;border:0px;}
}

@keyframes myOpacity {
    0% {opacity:1;}
    80% {opacity:.5;}
    100%{opacity:0;}
}

@keyframes myTextPopup {
    0% {opacity:0; top: 10%;}
    50% {opacity:1;top:30%;}
    90% {opacity:1;top:32%;}
    100%{opacity:1;top:30%;}
}

@keyframes opacityTransition {
    0% {opacity:1; }
    100% {opacity:0;}
}

@keyframes transitionRight {
    0% {opacity:0; right: 300px;}
    100% {opacity:1; right: 0px;}
}

@keyframes hideTransitionRight {
    0% {opacity:1; right: 0px;}
    100% {opacity:0; right: 300px;}
}

@keyframes transitionLeft {
    0% {opacity:0; left: 500px;}
    100% {opacity:1; left: 0px;}
}

@keyframes hideTransitionLeft {
    0% {opacity:1; left: 0px;}
    100% {opacity:0; left: 500px;}
}

  #first-section-animation {position: absolute; top: 0px; width: 100%; height:auto; }
  #circleAnim { width: 250px;margin-right: 40px; } 
  #lineAnim { width: 320px; }

.spinner {
    margin: auto;
    width: 70px;
    text-align: center;
    position: absolute;
    top: 50%;    
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 23;
  } 
  
  .spinner > div {
    width: 20px;
    height: 20px;
    background-color:#ECD76D;
  
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }
  
  .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  
  .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
  
  @-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bouncedelay {
    0%, 80%, 100% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    } 40% { 
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
  }

 /* -------------------------------------------------------------------------------media query */
 @media screen and (min-width: 860px) and (max-width: 1014px){

    .popup-text-right,
    .popup-text-left { 
        text-align: left;
        padding:0 5px;
        opacity:1;    
        animation: myTextPopup .6s; 
        transition: all .2s;  
        top:30%;  
    }

}
 /* -------------------------------------------------------------------------------media query */
 @media screen and (min-width: 600px) and (max-width: 859px){

    .sect {
        width: 100%;
        margin: 0 auto;
    }

    .container{
        width: 100%;
        margin:85px auto;
    }

    #first-section-container{
        margin: 0 auto;
        transform: scale(0.7);
    }

    .popup-text-right,
    .popup-text-left { 
        text-align: left;
        padding:0 5px;
        opacity:1;    
        animation: myTextPopup .6s; 
        transition: all .2s;  
        top:30%;  
    }

    .title { font-size: 28px;white-space: nowrap;}
 }

/* -------------------------------------------------------------------------------media query */
 @media screen and (min-width: 401px) and (max-width: 599px){
    
    .sect{
        width: 100%;
        margin: 0 auto;
    }

    #first-section-container{
        transform: scale(0.58);
        overflow:hidden;
        transform-origin: -50% 0;        
        left: 30%;
    }

    .container {
        width: 100%;
        margin: 80px 0;
    }

    header{ padding: 30px 20px; }
    
    nav{   padding: 0 20px; }

    .nav-content{                
        font-size: 22px;        
    }

    .nav-title{    
        font-size: 25px;
    }

    #hamburger{
        width:40px;
        height:40px;          
        right: 50px;   
        top:5px;        
    }
    
    .first-section-text{ left: 0; bottom: 550px;}
    .second-section-text{ left: 0; bottom: 300px; }
    .third-section-text{ left:  0;; bottom:250px; }

    .secText, .first-section-text.secText{
        width: 100%;  
    }

    .popup-text-right,
    .popup-text-left { 
        text-align: left;
        padding:0 5px;
        opacity:1;    
        animation: myTextPopup .6s; 
        transition: all .2s;  
        top:30%;  
    }

    #circleAnim { width: 220px; margin: 0 auto; } 
    #lineAnim { width: 250px; margin: 0 auto; } 

 }
/* -------------------------------------------------------------------------------media query */
@media screen and (max-width: 400px){

     .sect{
        width: 100%;
        margin: 0 auto;
    }

    .title { font-size: 24px; }

    header{ padding: 80px 5px; }
    
    nav{   padding: 0 5px; }

    .nav-content{                
        font-size: 22px;        
    }

    .nav-title{    
        font-size: 25px;
    }

    .nav-bg{     
        left: 10px;
        top: 10px;
        right:0;
        transform: translate(-50%,-50%);             
    }

    .open{
        left: 10px;
        top: 10px;
    }


    #hamburger{
        width:40px;
        height:40px; 
        right: 0;
        left:20px;
        top:0px;      
    }

    #first-section-container{
        transform: scale(0.4);
        overflow:hidden;
        transform-origin: -33% 0;        
        left: 50%;
        bottom:35px;
    }

    .container {
        width: 100%;
        margin: 0;    
        padding-top: 40px;    
    }

    .first-section{  height: 340px; }
    .second-section { position: relative; bottom: 210px; }
    .third-section {  position: relative; bottom: 300px; left: 0;}
    
    #first-section-animation {position: absolute; top: 0px; width: 100%; height:auto; }
    #circleAnim { width: 160px; margin: 0 auto; } 
    #lineAnim { width: 180px; margin: 0 auto; }

    .first-section-text{ left: 0; bottom: 550px;}
    .second-section-text{ left: 0; bottom: 238px; }
    .third-section-text{ left:  0; bottom:230px; }

    .secText, .first-section-text.secText{
        width: 100%;  
    }

    .description{        
        font-size: 14px;        
    }
    
    .popup-text-right,
    .popup-text-left {
        text-align: left;  
        opacity:1;    
        animation: myTextPopup .6s;   
        top:22%;    
        transition: all .2s;  
    }

    @keyframes myTextPopup {
        0% {opacity:0; top: 10%;}
        50% {opacity:1;top:22%;}
        90% {opacity:1;top:24%;}
        100%{opacity:1;top:22%;}
    }

}/* ----------------------------media query

